<link rel="stylesheet" href="/stylesheets/siwg.css">
<link rel="stylesheet" href="/stylesheets/nav.css">
</head>
<body>
  <% if (user) { %>
    <nav>
      <i class="fas fa-plane"></i>
      <a 
      href="/animals/" <%- title === 'Browse All Animals' ? 'class="active"' : '' %>
    >Browse All Animals</a>
      <!-- <a 
       href="/tradingpost" <%- title === 'Trading Post' ? 'class="active"' : '' %>
      >Trading Post</a> -->
      <a 
        href="/zoos" <%- title === 'Safari' ? 'class="active"' : '' %>
      >Safari</a>
      <a 
        href="/profiles/user" <%- title === 'Profile' ? 'class="active"' : '' %>
      >Profile</a>
      <img
      src="<%= user.profile.avatar %>"
      alt="<%= user.profile.name %> avatar"/>
      <a href="/auth/logout">
        <button type="submit">Logout</button>
      </a>
    </nav>
  <% } %>
