<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<link rel="stylesheet" href="/stylesheets/animals/index.css">

<h1>Your Zoos</h1>
<form class ="createzoo" action="/profiles/createZoo" method="POST">
  <input type="text" name="name">Zoo Name</input>
  <button>Create Zoo</button>
</form>
<ul>
  <% if(!user.profile.zoos.length){ %>
    <h2>You have no zoos!</h2>
    <% } %> 
  <section class="container">
    <% user.profile.zoos.forEach(zoo => { %>
      <div class="card" style="height: 10rem; width: 10rem;"">
        <div class="card-body">
          <h5 class="card-title"><a href="/zoos/<%= zoo._id %>"><%= zoo.name %></h5></a>
        </div>
        <% if (zoo.owner.equals(user?.profile._id)){ %>
        <form method="POST" action="/zoos/<%= zoo._id %>?_method=DELETE""><button type="submit" class="btn btn-primary">Delete Zoo</button>
        </form>
        <% } %>
      </div>
    <% }) %> 
  </section>
</ul>


<h1>Your Collected Animals</h1>
<ul>
  <% if(!user.profile.animals.length){ %>
    <h2>You have no collected animals!</h2>
    <% } %> 
  <section class="container">
    <% profile.animals.forEach(animal => { %>
      <div class="card userAnimal" style="width: 18rem;">
        <img src="<%= animal.image %>" class="card-img-top animalpic" alt="<%= animal.name %>">
        <div class="card-body">
          <h5 class="card-title"><%= animal.name %></h5>
          <p class="card-text">Latin Name: <%= animal.latinName %></p>
          <p class="card-text">Geographic Range: <%= animal.geoRange %></p>
          <p class="card-text">Lifespan: <%= animal.lifespan %></p>
          <p class="card-text">Diet: <%= animal.diet %></p>
        </div>
      </div>
    <% }) %> 
  </section>
</ul>
<%- include('../partials/footer') %>
