<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<ul>
 <%= zoo.name %>
  <% zoo.collectedAnimals.forEach(animal => { %>
    <div class="card" style="width: 18rem;">
      <img src="<%= animal.image %>" class="card-img-top animalpic" alt="<%= animal.name %>">
      <div class="card-body">
        <h5 class="card-title"><%= animal.name %></h5>
        <p class="card-text"><%= animal.latinName %></p>
        <p class="card-text"><%= animal.geoRange %></p>
        <p class="card-text"><%= animal.lifespan %></p>
        <p class="card-text"><%= animal.diet %></p>
      </div>
    </div>
    <% }) %> 
</ul>

<%- include('../partials/footer') %>
