<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<link rel="stylesheet" href="/stylesheets/animals/index.css">

<h1>All Animals!</h1>
<section class="container">
  <% animals.forEach(animal => { %>
  <div class="card">
    <img src="<%= animal.image %>" class="card-img-top animalpic" alt="<%= animal.name %>">
    <div class="card-body">
      <h5 class="card-title"><%= animal.name %></h5>
      <p class="card-text"><%= animal.geoRange %></p>
    </div>
  </div>
  <% }) %> 
</section>
<%- include('../partials/footer') %>
