<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>
<link rel="stylesheet" href="/stylesheets/safari.css">

<section class="cardcontainer">
  <form action="/zoos" method="POST">
  <input type="hidden" name="name" value="<%= animal.data.name %>">
  <input type="hidden" name="latinName" value="<%= animal.data.latin_name %>">
  <input type="hidden" name="lifespan" value="<%= animal.data.lifespan %>">
  <input type="hidden" name="diet" value="<%= animal.data.diet %>">
  <input type="hidden" name="geoRange" value="<%= animal.data.geo_range %>">
  <input type="hidden" name="image" value="<%= animal.data.image_link %>">
  <div class="card" style="width: 18rem;">
    <img src="<%=animal.data.image_link %>" class="card-img-top animalpic" alt="<%= animal.data.name %>">
    <div class="card-body">
      <h5 class="card-title"><%= animal.data.name %></h5>
      <p class="card-text"></p>
      <button type="submit" class="btn btn-primary">Add animal</a>
    </div>
  </div>
  </form>
</section>

<!-- <div class="tinder">
  <div class="tinder--status">
    <i class="fa fa-remove"></i>
    <i class="fa fa-heart"></i>
  </div>

  <div class="tinder--cards">
    <div class="tinder--card">
      <img src="<%=animal.data.image_link %>" alt="<%= animal.data.name %>">
      <h3><%= animal.data.name %></h3>
      <p>This is a demo for Tinder like swipe cards</p>
    </div>
    <div class="tinder--card">
      <img src="<%=animal.data.image_link %>" alt="<%= animal.data.name %>">
      <h3><%= animal.data.name %></h3>
      <p>This is a demo for Tinder like swipe cards</p>
    </div>
    <div class="tinder--card">
      <img src="<%=animal.data.image_link %>" alt="<%= animal.data.name %>">
      <h3><%= animal.data.name %></h3>
      <p>This is a demo for Tinder like swipe cards</p>
    </div>
    <div class="tinder--card">
      <img src="<%=animal.data.image_link %>" alt="<%= animal.data.name %>">
      <h3><%= animal.data.name %></h3>
      <p>This is a demo for Tinder like swipe cards</p>
    </div>
    <div class="tinder--card">
      <img src="<%=animal.data.image_link %>" alt="<%= animal.data.name %>">
      <h3><%= animal.data.name %></h3>
      <p>This is a demo for Tinder like swipe cards</p>
    </div>
  </div>

  <div class="tinder--buttons">
    <button id="nope"><i class="fa fa-remove"></i></button>
  
    <button id="love" type="submit"><i class="fa fa-heart"></i></button>
  </form>
  </div>
</div> -->

<%- include('./partials/footer') %>
